

body {
    background: #ffffff;
}

header {
    width: 100%;
    height: 33px;

}
section{
    width: 60%;
    float: left;
    display: flex;
    margin-left: -150px;
    margin-top: 50px;
}
span{
    margin-left: 223px;
}
.navbar {
    width: 100%;
}
.logo {
    float: left;
    overflow: auto;
    margin-left: 70px;
}
.submit_button {
    float: right;
    overflow: auto;
    height: 25px;
    margin-right: 4px;
    margin-top: 6px;
}
.search_tab{
    width: 55%;
    height: 27px;
    margin-top: 1px;
    margin-left: 40px;
    border: 1px solid grey;
    border-right: none;
}
.search_button {
    position: relative;
    
    width: 100px;
    height: 31px;
    margin-left: -5px;

}
.logo_image{
    height: 33px;
    margin-right: 28px;
    width: 100px;
}
.search_icon{
    height: 27px;
    margin: -9px -3px -9px;
}
.avatar{
    height: 21px;
}

aside {
    display: inline-block;
    width: 30%;
    height: auto;
    margin-right: 50px;
    margin-top: 50px;
}

article {
    display: inline-flex;
    margin: 10px 2px 0px 2px;
}
article p {
    padding-left: 10px;
}

