

body {
    background: #ffffff;
    border: 1px solid black;
    height: 1000px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 33px;
    margin-top: 10px;
    border: 1px solid black;
}
section{
    width: 60%;
    float: left;
    display: flex;
    margin-left: -150px;
    margin-top: 40px;
    border: 1px solid black;
}
span{
    margin-left: 44%;
}
.navbar {
    width: 100%;
}
.logo {
    float: left;
    overflow: auto;
    margin-left: 60px;
}
.submit_button {
    float: right;
    overflow: auto;
    height: 25px;
    margin-right: 4px;
    margin-top: 6px;
}
.search_tab{
    width: 55%;
    height: 27px;
    margin-top: 1px;
    margin-left: 40px;
    border: 1px solid grey;
    border-right: none;
}
.search_button {
    position: relative;
    
    width: 100px;
    height: 31px;
    margin-left: -5px;
}
.search_bar{
    margin-right: 40px;
}
.subscribe{
    display: flex;
}
.subscribe span{
    margin-top: 21px;
    margin-left: 52%;
}
.logo_image{
    height: 33px;
    margin-right: 28px;
    width: 100px;
}
.search_icon{
    height: 27px;
    margin: -9px -3px -9px;
}
.avatar {
    height: 21px;
}

aside 
    {
        display: inline-block;
        width: 33%;
        height: auto;
        margin-right: 10px;
        margin-left: 5px;
        margin-top: 40px;
        border: 1px solid black;
    }
.sidebar-para {
    margin-top: 0px;
}

video {
    margin-left: 50px;
}

article 
    {
        display: inline-flex;
        margin: 10px 2px 0px 2px;
    }
article div {
    padding-left: 10px;
}
.fa {
    margin-left: 10px;
    margin-right: 10px;
}
.subscribenow {
    background: red;
    color: white;
}

.side-anchor {
    text-decoration: none;
}

